{
  "presets": [
  [
    "@babel/preset-env",
    {
      "modules": false
    }
  ],
    "@babel/preset-flow",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/transform-runtime"],
    "@babel/plugin-proposal-class-properties"
  ]
}
